
.grid{

  /* overflow: scroll; */

  background-color: purple;

  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-template-rows: repeat(4, 100px);
  gap: 10px;
}

.header{
  background-color: aqua;

  /* 자식 태그에서 직접 정렬하는 css 속성 */
  /* align-self: end;
  justify-self: center; */
  /* 위에 두개를 합친 속성. place-self */

  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* grid-column-start: 1;
  grid-column-end: 5; */
  /* 1번부터 끝까지. 양수는 왼쪽부터 오른쪽으로 세는 방법. 음수는 오른쪽에서 왼쪽으로 세는 방법 */
  /* grid-column: span 4; */
}

.content{
  background-color: antiquewhite;
  /* grid-column: 1 / -2;
  grid-row: span 2; */
}

.nav{
  background-color: blueviolet;
  grid-column: span 1;
  grid-row: span 2;

}

.footer{
  background-color: chartreuse;
  grid-column: span 4;
}